{% extends 'navbar.html' %}

    {% block content %}
    <div class="container">
        <h1>Запрацював блог</h1>
        {% if posts %}
            <div class="row">
                {% for post in posts %}
                <div class="col s12 l6">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">
                                <a href="/{{ post.post_slug }}">{{ post.title }}</a>
                            </span>
                            <h6>{{ post.created_at }}</h6>
                            <div class="card-content">{{ post.text|truncatechars:100 }}...</div>
                            <br><br><br>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    {% endblock %}
    
