{% extends 'navbar.html' %}

{% block content %}
<div class="container">
<div class="row">
    {% for post in posts %}
        {% if  forloop.first %}
            <div class="col s2 l2">
                {% include "sidebar.html" %}
            </div>
        <div class="col s10 l5">
        {%else%}
            
                {% if forloop.counter|divisibleby:2 %}
                    <div class="col s2">
                    </div>
                    <div class="col s10 l5">    
                {%else%}
                    <div class="col s10 l5 offset-s2  offset-l2">
                {% endif %}
            
        {% endif %}

        <div class="card hoverable">
            <div class="card-content">
                <div class="card-image">
                    <img class="center-align responsive-img"
                     src="/{{ post.img }}">
                </div>
                <span class="card-title">
                    <a href="/{{ post.post_slug }}">{{ post.title }}</a>
                </span>
                <h6>Переглянуло: {{ post.get_views_number }}</h6>
                <h6>{{ post.created_at }}</h6>
                <div class="card-content">{{ post.text|truncatechars:100 }}...</div>
                <br><br><br>
            </div>
        </div>
    </div>
    {% endfor %}
   
</div>
</div>
{% endblock%}