{% extends 'navbar.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <h4>Профіль користувача {{user.username}}</h4>
        </div>    
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s2">
                        <img class="circle responsive-img " src='/{{profile.avatar}}'>
                        <p>{{user.username}}</p>
                    </div>
                <div class="col s10">
                <span class="black-text">
                {{profile.about}}
              </span>
            </div>
          </div>
        </div>
      </div>
           
        
    </div>
{% endblock %}