{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </head>
    <body>
        <nav>
            <div class="nav-wrapper light-green darken-1">
              <a href="/" class="brand-logo blue-text text-darken-2">Logo</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                  <form method=POST action="{% url 'search' %}" id="search_nav">
                      {% csrf_token %}
                      <input type="search" name="searchpost" placeholder="Шукати">
                  </form>
                </li>
                <li><button class="waves-effect waves-light btn-small" form="search_nav" type="submit"><i class="material-icons">search</i></button></li>
                <li><a href="/admin">Admin</a></li>
                {% if not user.is_authenticated %}
                  <li><a href="/login">Увійти</a></li>
                  <li><a href="/register">Зареєструватись</a></li>
                {% else %}
                  <li><a href="/profile">Мій Аккаунт</a></li>
                  <li><a href="/chat">Чат</a></li>
                  <li><a href="/logout">Вийти</a></li>
                {% endif %}

              </ul>
            </div>
        </nav>
        {% block content %}
        {% endblock %}

        {% if messages %}
          <script> 
            M.AutoInit();
            {% for msg in messages %}
              {% if msg.tags == 'error' %}
                M.toast({html: "{{msg}}", classes: "orange"});
              {% elif msg.tags == 'success' %}
                M.toast({html: "{{msg}}", classes: "green"});
              {% elif msg.tags == 'info' %}
                M.toast({html: "{{msg}}", classes: "blue"});
              {% endif %}
            {% endfor %}
          </script>
        {% endif %}
    </body>
</html>
