{% extends 'navbar.html' %}

    {% block content %}
    
        {% if post %}
            <div class="row">
                <div class="col s10 l10">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">
                                <a href="/">{{ post.title }}</a>
                            </span>
                            <span text-align="center" 
                            display="block">
                                <img class="center-align responsive-img"
                                 src="/{{ post.img }}">
                            </span>
                            <div class="row">
                                <div class="col s6 l6">
                                    <h6>Переглянуто: {{ views_num }}</h6>
                                </div>
                                <div class="col s6 l6">
                                    {% if user.is_authenticated %}
                                        <form id="like" method="GET" action="{% url 'like_post' post.id %}">             
                                        </form>
                                    {% endif %}
                                    <button form="like" type="submit" class="btn">
                                        {% if is_liked %}
                                            <i class="medium material-icons">favorite</i>
                                        {% else %}
                                            <i class="medium material-icons">favorite_border</i>
                                        {% endif %}
                                    </button>
                                    <strong>{{ likes_num }} Like{{ likes_num|pluralize }}</strong>
                                </div>  
                            </div>
                            <h6>{{ post.created_at }}</h6>
                            <div class="card-content">{{ post.text }}...</div>
                            <br><br><br>
                        </div>
                    </div>
                </div>
            
                {% include "sidebar.html" %}
            </div>
            <div class="row">
            {% if user.is_authenticated %}
        <div class="container">
                <div class="row">
                    <form method="POST">
                        {% csrf_token %} 
                        {{ comment_form.as_p }}
                        <button class="btn" type="submit">Опублікувати</button>
                    </form>
                </div>
            {% endif %}
            <br><br>
            {% for comment in comments %}
            <div class="card-panel blue-grey lighten-4">
                <div class="row">
                    <div class="col s4 l2">
                       <img src="/{{comment.author.profile.avatar}}" class="circle responsive-img">
                    </div>
                    <div class="col s8 l10">
                        <p>{{ comment }}</p>
                        <p>{{ comment.created_at }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
            </div>
        </div>
        {% endif %}
        
    {% endblock %}
    